{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 experience-section">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>Professional {{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}

  <div class="container timeline text-justify">
   {{ $totalExperiences:= len .experience }}
   {{ range $index,$exp:= .experience }}
     {{ if eq (mod $index 2) 0 }}
       <div class="row align-items-center  d-flex">
         {{ partial "sections/experience/vertical-line.html" $index }}
         {{ partial "sections/experience/experience-info.html" $exp }}
       </div>
     {{else}}
       <div class="row align-items-center justify-content-end d-flex">
         {{ partial "sections/experience/experience-info.html" $exp }}
         {{ partial "sections/experience/vertical-line.html" $index }}
       </div>
     {{ end }}
     {{ if lt $index (sub $totalExperiences 1) }}
       {{ partial "sections/experience/horizontal-line.html" $index }}
     {{ end }}
   {{ end }}
  </div>
</div>
