<div class="col-10 col-lg-8">
    <div class="experience-entry-heading">
        <!-- For multiple positions, give emphasis on the company name-->
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <h5>
                    {{ if .company.url }}<a href={{.company.url}} title="{{ .company.name }}" target="_blank" rel="noopener">{{ .company.name }}</a>{{ else }}{{ .company.name }}{{ end }}
                    <h6>
                        <p class="text-muted">
                            {{ .company.location }}
                        </p>
                    </h6>
                    
                </h5>
            </div>
            <!-- Total experience duration on a company is time between the starting date of the oldest position and ending date of most recent position -->

            <div class="timeframe col-lg-3 col-md-4">
                {{ $oldestPosition := index (last 1 .positions) 0}}
                {{ $mostRecentPosition := index (first 1 .positions) 0}}
                <p class="text-muted duration">
                    {{ $oldestPosition.start }} - {{ if $mostRecentPosition.end }}{{ $mostRecentPosition.end }}{{ else }}{{ i18n "present" }}{{ end }}
                </p>
            </div>
        </div>

        <!-- Add company overview -->
        <p>{{ .company.overview | markdownify }}</p>
    </div>
    <!-- Add the positions information -->
    <div class="positions">
    {{ range $index,$position:= .positions }}

        <div class="row">
            <div class="col-lg-9 col-md-8">
                <h6 class="designation">{{ $position.designation }}</h6>
            </div>
            <div class="timeframe col-lg-3 col-md-4">
                <p class="text-muted duration">{{ $position.start }} - {{if $position.end }} {{ $position.end }} {{else}} {{ i18n "present" }} {{end}}</p>
            </div>
        </div>
        <!-- Add the responsibilities handled at this position -->
        <ul class="justify-content-around">
        {{ range $position.responsibilities }}
            <li>{{ . | markdownify }}</li>
        {{ end }}
        </ul>
    {{ end }}
    </div>
</div>
